.icons {
    height: 20px;
    width: 20px;
    align-items: end;
}

.chevron-icon-container {
    top: 5px;
    padding-right:5px;
}

.placeholder {
    color: #888;
}

.dropdown {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;

    &-option-selected {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 0.5px solid #d3d3d3;
        border-radius: 5px;
        width: 50%;
        height: 32px;
        padding-left: 8px;
    }

    &-all-options {
        position: relative;
        top: 5px;
        max-height: 224px;
        border: 0.5px solid #d3d3d3;
        border-radius: 5px;
        overflow-y: scroll;
        width: 51%;
    }

    &-items {
        height: 32px;
        padding-left:8px;
    }

    &-items:hover {
        background-color: #D4F1F9;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px;
}