.icons {
    height: 20px;
    width: 20px;
    align-items: end;
    color: #202833;
    font-family: 'poppinsRegular';
    font-size: 13px;
}

.chevron-icon-container {
    top: 5px;
    padding-right: 5px;
}

.placeholder {
    color: #888;
}

.dropdown {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-family: 'poppinsRegular';
    font-size: 13px;
    cursor: pointer;

    &-option-selected {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 0.5px solid #e3e7ed;
        border-radius: 8px;
        width: 50%;
        height: 32px;
        padding-left: 8px;
        box-shadow: 3px 2px 4px 0px rgba(57, 63, 70, 0.08)
    }

    &-all-options {
        position: relative;
        top: 5px;
        max-height: 224px;
        border: 0.5px solid #e3e7ed;
        border-radius: 8px;
        overflow-y: scroll;
        width: 51%;
        box-shadow: 3px 2px 4px 0px rgba(57, 63, 70, 0.08)
    }

    &-items {
        height: 32px;
        padding-left: 8px;
        color: #202833;
    }

    &-items:hover {
        background-color: #e6f6fc;
    }
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #f0f2f5;
    margin:5px;
    height: 100%;
}

::-webkit-scrollbar-thumb {
    background-color: #4d607b;
    border-radius: 5px;
    padding-top:5px;
    padding-bottom:5px;
    margin:5px;
}
::-webkit-scrollbar-track:hover {
    margin:5px;
}